# Importar librerias necesarias

In [1]:
import pandas as pd
import os
import zipfile
import glob
import dask

# Paises grandes

In [2]:
nompaises = ['Colombia','Argentina','Mexico','Brasil']
len(nompaises)

4

In [3]:
zf = zipfile.ZipFile('Colombia.zip')
for i in zf.namelist():
    print(i)

Colombia/export-00.csv
Colombia/export-01.csv
Colombia/export-02.csv
Colombia/export-03.csv
Colombia/export-04.csv
Colombia/export-05.csv
Colombia/export-06.csv
Colombia/export-07.csv
Colombia/export-08.csv
Colombia/export-09.csv
Colombia/export-10.csv
Colombia/export-11.csv
Colombia/export-12.csv
Colombia/export-13.csv
Colombia/export-14.csv
Colombia/export-15.csv
Colombia/export-16.csv
Colombia/export-17.csv
Colombia/export-18.csv
Colombia/export-19.csv
Colombia/export-20.csv
Colombia/export-21.csv
Colombia/export-22.csv
Colombia/export-23.csv
Colombia/export-24.csv
Colombia/export-25.csv
Colombia/export-26.csv
Colombia/export-27.csv
Colombia/export-28.csv
Colombia/export-29.csv

In [4]:
zf = zipfile.ZipFile('Colombia.zip')
df0 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[0]))
df1 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[1]))
df2 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[2]))
df3 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[3]))
df4 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[4]))
df5 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[5]))

df = pd.concat([df0, df1, df2, df3, df4, df5], ignore_index = True)
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 9711249.0

,Unnamed: 0,geohash,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d3hj94x,NaN,4,13,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,d3kkwcf,5.487431e+09,4,13,5,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2,d3ftse2,NaN,4,13,5,0,0,0,0,...,1,1,2,0,0,0,0,0,0,0
3,3,d2g61zp,1.100135e+09,4,13,9,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
4,4,d2g17ke,NaN,4,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,d2e4kn0,5.037038e+08,4,13,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
6,6,d23mqgx,1.980734e+08,4,13,4,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
7,7,d3f742r,NaN,4,13,3,0,0,0,0,...,2,2,1,1,1,1,1,1,1,1
8,8,d2g6c3c,1.100135e+09,4,13,12,1,3,2,2,...,2,4,3,4,2,3,5,2,3,3
9,9,d3e5z5f,NaN,4,13,2,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
del zf, df0, df1, df2, df3, df4, df5, df, _, l

In [6]:
zf = zipfile.ZipFile('Argentina.zip')
for i in zf.namelist():
    print(i)

Argentina/export-00.csv
Argentina/export-01.csv
Argentina/export-02.csv
Argentina/export-03.csv
Argentina/export-04.csv
Argentina/export-05.csv
Argentina/export-06.csv
Argentina/export-07.csv
Argentina/export-08.csv
Argentina/export-09.csv
Argentina/export-10.csv
Argentina/export-11.csv
Argentina/export-12.csv
Argentina/export-13.csv
Argentina/export-14.csv
Argentina/export-15.csv
Argentina/export-16.csv
Argentina/export-17.csv
Argentina/export-18.csv
Argentina/export-19.csv
Argentina/export-20.csv
Argentina/export-21.csv
Argentina/export-22.csv
Argentina/export-23.csv
Argentina/export-24.csv
Argentina/export-25.csv
Argentina/export-26.csv
Argentina/export-27.csv
Argentina/export-28.csv
Argentina/export-29.csv

In [7]:
zf = zipfile.ZipFile('Argentina.zip')
df0 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[0]))
df1 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[1]))
df2 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[2]))
df3 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[3]))
df4 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[4]))
df5 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[5]))

df = pd.concat([df0, df1, df2, df3, df4, df5], ignore_index = True)
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 18677235.0

,Unnamed: 0,geohash,g_adm_1,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,69y553s,6.0,6364.0,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,66phfrb,NaN,NaN,4,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,6djx8n9,NaN,NaN,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,6d6m5uv,14.0,14014.0,4,5,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,69yk62m,NaN,NaN,4,5,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,5,69y7h3m,NaN,NaN,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,69y54hr,NaN,NaN,4,5,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,7,6dk9u15,82.0,82105.0,4,5,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,8,696r3pq,NaN,NaN,4,5,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,9,69dddmg,NaN,NaN,4,5,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
del zf, df0, df1, df2, df3, df4, df5, df, _, l

In [9]:
zf = zipfile.ZipFile('Mexico.zip')
for i in zf.namelist():
    print(i)

Mexico/export-00.csv
Mexico/export-01.csv
Mexico/export-02.csv
Mexico/export-03.csv
Mexico/export-04.csv
Mexico/export-05.csv
Mexico/export-06.csv
Mexico/export-07.csv
Mexico/export-08.csv
Mexico/export-09.csv
Mexico/export-10.csv
Mexico/export-11.csv
Mexico/export-12.csv
Mexico/export-13.csv
Mexico/export-14.csv
Mexico/export-15.csv
Mexico/export-16.csv
Mexico/export-17.csv
Mexico/export-18.csv
Mexico/export-19.csv
Mexico/export-20.csv
Mexico/export-21.csv
Mexico/export-22.csv
Mexico/export-23.csv
Mexico/export-24.csv
Mexico/export-25.csv
Mexico/export-26.csv
Mexico/export-27.csv
Mexico/export-28.csv
Mexico/export-29.csv

In [10]:
zf = zipfile.ZipFile('Mexico.zip')
df0 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[0]))
df1 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[1]))
df2 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[2]))
df3 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[3]))
df4 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[4]))
df5 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[5]))

df = pd.concat([df0, df1, df2, df3, df4, df5], ignore_index = True)
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 23690236.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,9t91gpy,26043,6,6,5,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
1,1,9g6tcwj,29007,6,6,4,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,9mubbx1,2004,6,6,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,9gnn22f,27004,6,6,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,9g865gh,11002,6,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,9g75716,30014,6,6,7,7,0,1,0,...,1,1,1,0,0,1,0,0,0,0
6,6,9exvtvp,11017,6,6,15,4,0,1,1,...,3,0,2,1,0,0,3,1,0,1
7,7,9g69pq6,21156,6,6,6,3,0,0,0,...,0,0,0,1,0,0,0,1,0,0
8,8,9eqx03x,14087,6,6,3,3,0,0,0,...,0,0,1,0,0,1,0,0,0,0
9,9,9g6h7yc,21140,6,6,24,7,0,0,0,...,6,4,5,4,1,5,7,5,3,0

In [11]:
del zf, df0, df1, df2, df3, df4, df5, df, _, l

In [12]:
zf = zipfile.ZipFile('Brasil.zip')
for i in zf.namelist():
    print(i)

Brasil/export-00.csv
Brasil/export-01.csv
Brasil/export-02.csv
Brasil/export-03.csv
Brasil/export-04.csv
Brasil/export-05.csv
Brasil/export-06.csv
Brasil/export-07.csv
Brasil/export-08.csv
Brasil/export-09.csv
Brasil/export-10.csv
Brasil/export-11.csv
Brasil/export-12.csv
Brasil/export-13.csv
Brasil/export-14.csv
Brasil/export-15.csv
Brasil/export-16.csv
Brasil/export-17.csv
Brasil/export-18.csv
Brasil/export-19.csv
Brasil/export-20.csv
Brasil/export-21.csv
Brasil/export-22.csv
Brasil/export-23.csv
Brasil/export-24.csv
Brasil/export-25.csv
Brasil/export-26.csv
Brasil/export-27.csv
Brasil/export-28.csv
Brasil/export-29.csv
Brasil/export-30.csv
Brasil/export-31.csv
Brasil/export-32.csv
Brasil/export-33.csv
Brasil/export-34.csv
Brasil/export-35.csv
Brasil/export-36.csv
Brasil/export-37.csv
Brasil/export-38.csv
Brasil/export-39.csv
Brasil/export-40.csv
Brasil/export-41.csv
Brasil/export-42.csv
Brasil/export-43.csv
Brasil/export-44.csv
Brasil/export-45.csv
Brasil/export-46.csv
Brasil/export-47.csv
Brasil/export-48.csv
Brasil/export-49.csv
Brasil/export-50.csv
Brasil/export-51.csv
Brasil/export-52.csv
Brasil/export-53.csv
Brasil/export-54.csv
Brasil/export-55.csv
Brasil/export-56.csv
Brasil/export-57.csv
Brasil/export-58.csv
Brasil/export-59.csv
Brasil/export-60.csv
Brasil/export-61.csv
Brasil/export-62.csv

In [13]:
zf = zipfile.ZipFile('Brasil.zip')
df0 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[0]))
df1 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[1]))
df2 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[2]))
df3 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[3]))
df4 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[4]))
df5 = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[5]))

df = pd.concat([df0, df1, df2, df3, df4, df5], ignore_index = True)
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 27671411.0

,Unnamed: 0,geohash,g_adm_4,month,day,n_visitantes_geohash,n_visitantes_adm4,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,7nh25j4,2931905,6,10,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,6vj181x,5208707,6,10,3,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
2,2,6gjkjze,4206009,6,10,1,0,0,1,0,...,0,0,0,1,0,0,0,1,1,1
3,3,7jf69ds,2929909,6,10,1,0,0,0,0,...,0,1,1,0,1,1,1,1,0,0
4,4,6gzp24g,3143807,6,10,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,5,6f67bkr,4314605,6,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,6gyfbh9,3550308,6,10,12,1,1,0,0,...,1,2,2,1,1,3,4,2,1,2
7,7,7n424h6,2918357,6,10,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,8,6gfmu3c,4113502,6,10,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,6gvc518,3522307,6,10,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
del zf, df0, df1, df2, df3, df4, df5, df, _, l