# Cargando librerias

In [1]:
import pandas as pd
import zipfile
import matplotlib.pyplot as plt

# Paths

In [2]:
path_personal = r"C:\Users\BS\Documents\Github"

path_global = path_personal + r"\Geohashes-Colegios"

path_data = path_global + r"\Data"

path_data_colegios = path_data + r"\Colegios"
file_colegios = path_data_colegios + r"\Chile_colegios_geohash.csv"

path_data_geohashes = path_data + r"\Geohashes"
file_geohashes = path_data_geohashes + r"\Chile.zip"

path_output = path_data_colegios
file_output_sin_visitas = path_data_colegios + r"\Chile_colegios_geohash_sin_visitas.csv"
file_output_con_visitas_zip = path_data_colegios + r"\Chile_colegios_geohash_con_visitas.zip"
file_output_con_visitas_csv = path_data_colegios + r"\Chile_colegios_geohash_con_visitas.csv"

file_output_geohashes_zip = path_data_colegios + r"\Geohashes_con_sin_colegios.zip"

print(file_colegios)
print(file_geohashes)
print(file_output_sin_visitas)
print(file_output_con_visitas_zip)
print(file_output_con_visitas_csv)

C:\Users\BS\Documents\Github\Geohashes-Colegios\Data\Colegios\Chile_colegios_geohash.csv
C:\Users\BS\Documents\Github\Geohashes-Colegios\Data\Geohashes\Chile.zip
C:\Users\BS\Documents\Github\Geohashes-Colegios\Data\Colegios\Chile_colegios_geohash_sin_visitas.csv
C:\Users\BS\Documents\Github\Geohashes-Colegios\Data\Colegios\Chile_colegios_geohash_con_visitas.zip
C:\Users\BS\Documents\Github\Geohashes-Colegios\Data\Colegios\Chile_colegios_geohash_con_visitas.csv

# Importando Datos

#### Importando geohashes con datos

In [3]:
df_geohashes = pd.read_csv(file_geohashes)

In [4]:
df_geohashes = df_geohashes.drop(columns = ['Unnamed: 0'])

In [5]:
df_geohashes.shape

(19166083, 31)

In [6]:
df_geohashes.head(5)

,geohash,g_adm_1,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,66jt91k,5.0,5702.0,5,3,4,2,0,0,0,...,1,1,0,1,0,0,0,1,0,0
1,63knfd2,8.0,8107.0,3,16,15,11,1,0,0,...,3,4,1,1,2,2,0,1,1,0
2,637uz4p,8.0,8106.0,3,16,3,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,66jec5e,13.0,13303.0,5,6,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,66jcejx,13.0,13113.0,3,10,5,4,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [7]:
df_geohashes.columns

Index(['geohash', 'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2', 'n_visitantes_3', 'n_visitantes_4', 'n_visitantes_5',
       'n_visitantes_6', 'n_visitantes_7', 'n_visitantes_8', 'n_visitantes_9',
       'n_visitantes_10', 'n_visitantes_11', 'n_visitantes_12',
       'n_visitantes_13', 'n_visitantes_14', 'n_visitantes_15',
       'n_visitantes_16', 'n_visitantes_17', 'n_visitantes_18',
       'n_visitantes_19', 'n_visitantes_20', 'n_visitantes_21',
       'n_visitantes_22', 'n_visitantes_23'],
      dtype='object')

#### Importando datos de colegios con geohashes

In [8]:
df_colegios = pd.read_csv(file_colegios)

In [9]:
df_colegios.head(2)

,row_number,AGNO,RBD,DGV_RBD,NOM_RBD,MRUN,RUT_SOSTENEDOR,P_JURIDICA,COD_REG_RBD,NOM_REG_RBD_A,...,ORI_RELIGIOSA,ORI_OTRO_GLOSA,PAGO_MATRICULA,PAGO_MENSUAL,lat,long,geohash,geometry,cod_comuna,Comuna
0,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,2,,GRATUITO,GRATUITO,-18.487274,-70.294739,6kwnb6k,POINT (-70.29473877 -18.48727417),15101,Arica
1,1,2019,2,7,PARVULARIO LAS ESPIGUITAS,,69010100,1,15,AYP,...,2,,GRATUITO,GRATUITO,-18.469862,-70.302757,6kwnbjx,POINT (-70.30275726000001 -18.46986198),15101,Arica

In [10]:
df_colegios.shape

(12917, 42)

In [11]:
df_colegios.columns

Index(['row_number', 'AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'MRUN',
       'RUT_SOSTENEDOR', 'P_JURIDICA', 'COD_REG_RBD', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'CONVENIO_PIE',
       'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04', 'ENS_05', 'ENS_06', 'ENS_07',
       'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11', 'MATRICULA', 'ESTADO_ESTAB',
       'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA', 'PAGO_MATRICULA', 'PAGO_MENSUAL',
       'lat', 'long', 'geohash', 'geometry', 'cod_comuna', 'Comuna'],
      dtype='object')

Cambiando nombres de columnas segÃºn pais

In [12]:
COD_ESCUELA_PAIS = 'RBD'
COD_ADM3 = 'COD_COM_RBD'
NOM_ADM3 = 'NOM_COM_RBD'
COD_ADM1 = 'COD_REG_RBD'

In [13]:
df_colegios = df_colegios.rename(columns = {
    COD_ESCUELA_PAIS : 'COD_ESCUELA_PAIS',
    COD_ADM3 : 'COD_ADM3',
    NOM_ADM3 : 'NOM_ADM3',
    COD_ADM1 : 'COD_ADM1'
})

In [14]:
laty = 'lat'
longx = 'long'

In [15]:
df_colegios = df_colegios.rename(columns = {
    laty : 'laty',
    longx : 'longx'
})

In [16]:
df_colegios.columns

Index(['row_number', 'AGNO', 'COD_ESCUELA_PAIS', 'DGV_RBD', 'NOM_RBD', 'MRUN',
       'RUT_SOSTENEDOR', 'P_JURIDICA', 'COD_ADM1', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_ADM3', 'NOM_ADM3', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'CONVENIO_PIE',
       'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04', 'ENS_05', 'ENS_06', 'ENS_07',
       'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11', 'MATRICULA', 'ESTADO_ESTAB',
       'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA', 'PAGO_MATRICULA', 'PAGO_MENSUAL',
       'laty', 'longx', 'geohash', 'geometry', 'cod_comuna', 'Comuna'],
      dtype='object')

# Merges geoashes con colegios

Merge

In [17]:
df_geohashes_colegios = df_geohashes.merge(df_colegios , how = 'left', on = 'geohash', indicator = True)

In [18]:
df_geohashes_colegios.shape

(19250550, 73)

In [19]:
df_geohashes_colegios.head(5)

,geohash,g_adm_1,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,ORI_RELIGIOSA,ORI_OTRO_GLOSA,PAGO_MATRICULA,PAGO_MENSUAL,laty,longx,geometry,cod_comuna,Comuna,_merge
0,66jt91k,5.0,5702.0,5,3,4,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,63knfd2,8.0,8107.0,3,16,15,11,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,637uz4p,8.0,8106.0,3,16,3,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,66jec5e,13.0,13303.0,5,6,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,66jcejx,13.0,13113.0,3,10,5,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [20]:
df_geohashes_colegios.columns

Index(['geohash', 'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2', 'n_visitantes_3', 'n_visitantes_4', 'n_visitantes_5',
       'n_visitantes_6', 'n_visitantes_7', 'n_visitantes_8', 'n_visitantes_9',
       'n_visitantes_10', 'n_visitantes_11', 'n_visitantes_12',
       'n_visitantes_13', 'n_visitantes_14', 'n_visitantes_15',
       'n_visitantes_16', 'n_visitantes_17', 'n_visitantes_18',
       'n_visitantes_19', 'n_visitantes_20', 'n_visitantes_21',
       'n_visitantes_22', 'n_visitantes_23', 'row_number', 'AGNO',
       'COD_ESCUELA_PAIS', 'DGV_RBD', 'NOM_RBD', 'MRUN', 'RUT_SOSTENEDOR',
       'P_JURIDICA', 'COD_ADM1', 'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_ADM3',
       'NOM_ADM3', 'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2',
       'RURAL_RBD', 'CONVENIO_PIE', 'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04',
       'ENS_05', 'ENS_06', 'ENS_07', 'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11',
       'MATRICULA', 'ESTADO_ESTAB', 'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA',
       'PAGO_MATRICULA', 'PAGO_MENSUAL', 'laty', 'longx', 'geometry',
       'cod_comuna', 'Comuna', '_merge'],
      dtype='object')

Guardando datos

In [21]:
df_geohashes_colegios.to_csv(file_output_geohashes_zip, compression = 'zip')

path_codigos_stata = path_global + r"\Codes\Stata"
file_output_con_visitas_dta = path_codigos_stata + r"\Geohashes_con_sin_colegios.dta"

df_geohashes_colegios.to_stata(file_output_con_visitas_dta)

# Merge geohashes - Colegios & Data

In [22]:
df_merge = df_colegios.merge(df_geohashes , how = 'left', on = 'geohash', indicator = True)

In [23]:
df_merge.shape

(899737, 73)

In [24]:
df_merge.head(5)

,row_number,AGNO,COD_ESCUELA_PAIS,DGV_RBD,NOM_RBD,MRUN,RUT_SOSTENEDOR,P_JURIDICA,COD_ADM1,NOM_REG_RBD_A,...,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23,_merge
0,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,both
2,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,both
3,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,both
4,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,both

In [25]:
df_merge.columns

Index(['row_number', 'AGNO', 'COD_ESCUELA_PAIS', 'DGV_RBD', 'NOM_RBD', 'MRUN',
       'RUT_SOSTENEDOR', 'P_JURIDICA', 'COD_ADM1', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_ADM3', 'NOM_ADM3', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'CONVENIO_PIE',
       'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04', 'ENS_05', 'ENS_06', 'ENS_07',
       'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11', 'MATRICULA', 'ESTADO_ESTAB',
       'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA', 'PAGO_MATRICULA', 'PAGO_MENSUAL',
       'laty', 'longx', 'geohash', 'geometry', 'cod_comuna', 'Comuna',
       'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2', 'n_visitantes_3', 'n_visitantes_4', 'n_visitantes_5',
       'n_visitantes_6', 'n_visitantes_7', 'n_visitantes_8', 'n_visitantes_9',
       'n_visitantes_10', 'n_visitantes_11', 'n_visitantes_12',
       'n_visitantes_13', 'n_visitantes_14', 'n_visitantes_15',
       'n_visitantes_16', 'n_visitantes_17', 'n_visitantes_18',
       'n_visitantes_19', 'n_visitantes_20', 'n_visitantes_21',
       'n_visitantes_22', 'n_visitantes_23', '_merge'],
      dtype='object')

#### Seleccionar geohashes de colegios que no tienen informaciÃ³n de visitas

In [26]:
colegios_sin_visitas = df_merge[df_merge['_merge'] == 'left_only']

In [27]:
colegios_sin_visitas.shape

(1766, 73)

In [28]:
colegios_sin_visitas.COD_ESCUELA_PAIS.nunique()

1766

In [29]:
colegios_sin_visitas.shape

(1766, 73)

Guardar establecimientos que no tienen visitas

In [30]:
colegios_sin_visitas.to_csv(file_output_sin_visitas, sep = ',', index_label = 'row_number')

#### Seleccionar geohashes de colegios que tienen informaciÃ³n de visitas

In [31]:
colegios_con_visitas = df_merge[df_merge['_merge'] == 'both']

In [32]:
colegios_con_visitas.shape

(897971, 73)

In [33]:
colegios_con_visitas.COD_ESCUELA_PAIS.nunique()

11151

In [34]:
colegios_con_visitas.geohash.nunique()

10293

In [35]:
colegios_con_visitas.NOM_ADM3.nunique()

343

#### Transformar tipo mes y dia a entero

In [36]:
colegios_con_visitas = colegios_con_visitas.astype({'month': int,'day': int})

In [37]:
colegios_con_visitas.shape

(897971, 73)

In [38]:
colegios_con_visitas['semana'] = colegios_con_visitas.apply(lambda x: pd.to_datetime(f'2020/{x.month}/{x.day}', 
                                                                                     format = '%Y/%m/%d').week, 
                                                            axis = 1)

In [39]:
colegios_con_visitas['laboral'] = colegios_con_visitas.apply(lambda x: 1 
                                                             if pd.to_datetime(f'2020/{x.month}/{x.day}', 
                                                                               format = '%Y/%m/%d').weekday() < 5 else 0, 
                                                             axis = 1)

In [40]:
colegios_con_visitas.shape

(897971, 75)

In [41]:
colegios_con_visitas.head(5)

,row_number,AGNO,COD_ESCUELA_PAIS,DGV_RBD,NOM_RBD,MRUN,RUT_SOSTENEDOR,P_JURIDICA,COD_ADM1,NOM_REG_RBD_A,...,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23,_merge,semana,laboral
0,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,20,1
1,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,both,16,1
2,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,both,17,1
3,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,both,22,1
4,0,2019,1,9,LICEO POLITECNICO ARICA,,69010100,1,15,AYP,...,1.0,2.0,2.0,0.0,0.0,0.0,0.0,both,23,1

In [42]:
colegios_con_visitas.columns

Index(['row_number', 'AGNO', 'COD_ESCUELA_PAIS', 'DGV_RBD', 'NOM_RBD', 'MRUN',
       'RUT_SOSTENEDOR', 'P_JURIDICA', 'COD_ADM1', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_ADM3', 'NOM_ADM3', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'CONVENIO_PIE',
       'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04', 'ENS_05', 'ENS_06', 'ENS_07',
       'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11', 'MATRICULA', 'ESTADO_ESTAB',
       'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA', 'PAGO_MATRICULA', 'PAGO_MENSUAL',
       'laty', 'longx', 'geohash', 'geometry', 'cod_comuna', 'Comuna',
       'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2', 'n_visitantes_3', 'n_visitantes_4', 'n_visitantes_5',
       'n_visitantes_6', 'n_visitantes_7', 'n_visitantes_8', 'n_visitantes_9',
       'n_visitantes_10', 'n_visitantes_11', 'n_visitantes_12',
       'n_visitantes_13', 'n_visitantes_14', 'n_visitantes_15',
       'n_visitantes_16', 'n_visitantes_17', 'n_visitantes_18',
       'n_visitantes_19', 'n_visitantes_20', 'n_visitantes_21',
       'n_visitantes_22', 'n_visitantes_23', '_merge', 'semana', 'laboral'],
      dtype='object')

#### Guardar establecimientos que tienen visitas

Zip comprimido

In [43]:
colegios_con_visitas.to_csv(file_output_con_visitas_zip, compression = 'zip')

CSV

In [44]:
colegios_con_visitas.to_csv(file_output_con_visitas_csv, sep = ',')

Stata - .dta

path_codigos_stata = path_global + r"\Codes\Stata"
file_output_con_visitas_dta = path_codigos_stata + r"\Chile_colegios_geohash_con_visitas_python.dta"

colegios_con_visitas.to_stata(file_output_con_visitas_dta)