# Cargando librerias

pip install py-geohash-any

In [1]:
from py_geohash_any import geohash as gh

In [2]:
import pandas as pd
import zipfile
import matplotlib.pyplot as plt

# Paths

In [3]:
#path_personal = r"C:\Users\BS\Documents\Github"
path_personal = r"C:\Users\Admin\Documents\Github"

path_global = path_personal + r"\Geohashes-Colegios"

path_data = path_global + r"\Data"

path_data_colegios = path_data + r"\Colegios"
file_colegios = path_data_colegios + r"\Chile_colegios_original_new_geohash.csv"

path_data_geohashes = path_data + r"\Geohashes"
file_geohashes = path_data_geohashes + r"\Chile.zip"

path_output = path_data_colegios


print(file_colegios)
print(file_geohashes)

C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Colegios\Chile_colegios_original_new_geohash.csv
C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Geohashes\Chile.zip

# Importando Datos

#### Importando geohashes con datos

In [4]:
df_geohashes = pd.read_csv(file_geohashes)

In [5]:
df_geohashes = df_geohashes.drop(columns = ['Unnamed: 0'])

In [6]:
df_geohashes.shape

(19166083, 31)

In [7]:
df_geohashes.head(5)

,geohash,g_adm_1,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,66jt91k,5.0,5702.0,5,3,4,2,0,0,0,...,1,1,0,1,0,0,0,1,0,0
1,63knfd2,8.0,8107.0,3,16,15,11,1,0,0,...,3,4,1,1,2,2,0,1,1,0
2,637uz4p,8.0,8106.0,3,16,3,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,66jec5e,13.0,13303.0,5,6,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,66jcejx,13.0,13113.0,3,10,5,4,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [8]:
df_geohashes.columns

Index(['geohash', 'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2', 'n_visitantes_3', 'n_visitantes_4', 'n_visitantes_5',
       'n_visitantes_6', 'n_visitantes_7', 'n_visitantes_8', 'n_visitantes_9',
       'n_visitantes_10', 'n_visitantes_11', 'n_visitantes_12',
       'n_visitantes_13', 'n_visitantes_14', 'n_visitantes_15',
       'n_visitantes_16', 'n_visitantes_17', 'n_visitantes_18',
       'n_visitantes_19', 'n_visitantes_20', 'n_visitantes_21',
       'n_visitantes_22', 'n_visitantes_23'],
      dtype='object')

#### Importando datos de colegios con geohashes

In [9]:
df_colegios = pd.read_csv(file_colegios)

In [10]:
df_colegios.head(2)

,row_number,AGNO,rbd,dgv_rbd,nom_rbd,mrun,rut_sostenedor,p_juridica,cod_reg_rbd,nom_reg_rbd_a,...,Matr_Tec_Adu,Mat_total,Matr_Espec,Mat_terc_col,lat,long,geohash,geometry,cod_comuna,Comuna
0,0,2019,1,9,LICEO POLITECNICO ARICA,NaN,69010100.0,1,15,AYP,...,288.0,666.0,0.0,3.0,-18.487274,-70.294739,6kwnb6k,POINT (-70.29473877 -18.48727417),15101,Arica
1,1,2019,2,7,PARVULARIO LAS ESPIGUITAS,NaN,69010100.0,1,15,AYP,...,0.0,211.0,0.0,2.0,-18.469862,-70.302757,6kwnbjx,POINT (-70.30275726000001 -18.46986198),15101,Arica

In [11]:
df_colegios.shape

(12917, 73)

In [12]:
df_colegios.columns

Index(['row_number', 'AGNO', 'rbd', 'dgv_rbd', 'nom_rbd', 'mrun',
       'rut_sostenedor', 'p_juridica', 'cod_reg_rbd', 'nom_reg_rbd_a',
       'cod_pro_rbd', 'cod_com_rbd', 'nom_com_rbd', 'cod_deprov_rbd',
       'nom_deprov_rbd', 'cod_depe', 'cod_depe2', 'rural_rbd', 'convenio_pie',
       'ens_01', 'ens_02', 'ens_03', 'ens_04', 'ens_05', 'ens_06', 'ens_07',
       'ens_08', 'ens_09', 'ens_10', 'ens_11', 'matricula', 'estado_estab',
       'ori_religiosa', 'ori_otro_glosa', 'pago_matricula', 'pago_mensual',
       'Asist_nom_rbd', 'Asist_cod_com_rbd', 'dias_asistidos',
       'dias_trabajados', 'Asist_total', 'Asist_Palv', 'Asist_Bas_NinJov',
       'Asist_Bas_Adu', 'Asist_Espec', 'Asist_Med_NinJov', 'Asist_Med_Adu',
       'Asist_Tec_NinJov', 'Asist_Tec_Adu', 'Asist_terc_col', 'Matr_nom_rbd',
       'Matr_cod_depe', 'Matr_cod_depe2', 'Matr_rural_rbd', 'Matr_cod_reg_rbd',
       'Matr_cod_com_rbd', 'Matr_estado_estab', 'Matr_Palv', 'Matr_Bas_NinJov',
       'Matr_Bas_Adu', 'Matr_Med_NinJov', 'Matr_Med_Adu', 'Matr_Tec_NinJov',
       'Matr_Tec_Adu', 'Mat_total', 'Matr_Espec', 'Mat_terc_col', 'lat',
       'long', 'geohash', 'geometry', 'cod_comuna', 'Comuna'],
      dtype='object')

Cambiando nombres de columnas segÃºn pais

In [13]:
COD_ESCUELA_PAIS = 'rbd'
COD_ADM3 = 'cod_com_rbd'
NOM_ADM3 = 'nom_com_rbd'
COD_ADM1 = 'cod_reg_rbd'

In [14]:
df_colegios = df_colegios.rename(columns = {
    COD_ESCUELA_PAIS : 'COD_ESCUELA_PAIS',
    COD_ADM3 : 'COD_ADM3',
    NOM_ADM3 : 'NOM_ADM3',
    COD_ADM1 : 'COD_ADM1'
})

In [15]:
laty = 'lat'
longx = 'long'

In [16]:
df_colegios = df_colegios.rename(columns = {
    laty : 'laty',
    longx : 'longx'
})

In [17]:
df_colegios.columns

Index(['row_number', 'AGNO', 'COD_ESCUELA_PAIS', 'dgv_rbd', 'nom_rbd', 'mrun',
       'rut_sostenedor', 'p_juridica', 'COD_ADM1', 'nom_reg_rbd_a',
       'cod_pro_rbd', 'COD_ADM3', 'NOM_ADM3', 'cod_deprov_rbd',
       'nom_deprov_rbd', 'cod_depe', 'cod_depe2', 'rural_rbd', 'convenio_pie',
       'ens_01', 'ens_02', 'ens_03', 'ens_04', 'ens_05', 'ens_06', 'ens_07',
       'ens_08', 'ens_09', 'ens_10', 'ens_11', 'matricula', 'estado_estab',
       'ori_religiosa', 'ori_otro_glosa', 'pago_matricula', 'pago_mensual',
       'Asist_nom_rbd', 'Asist_cod_com_rbd', 'dias_asistidos',
       'dias_trabajados', 'Asist_total', 'Asist_Palv', 'Asist_Bas_NinJov',
       'Asist_Bas_Adu', 'Asist_Espec', 'Asist_Med_NinJov', 'Asist_Med_Adu',
       'Asist_Tec_NinJov', 'Asist_Tec_Adu', 'Asist_terc_col', 'Matr_nom_rbd',
       'Matr_cod_depe', 'Matr_cod_depe2', 'Matr_rural_rbd', 'Matr_cod_reg_rbd',
       'Matr_cod_com_rbd', 'Matr_estado_estab', 'Matr_Palv', 'Matr_Bas_NinJov',
       'Matr_Bas_Adu', 'Matr_Med_NinJov', 'Matr_Med_Adu', 'Matr_Tec_NinJov',
       'Matr_Tec_Adu', 'Mat_total', 'Matr_Espec', 'Mat_terc_col', 'laty',
       'longx', 'geohash', 'geometry', 'cod_comuna', 'Comuna'],
      dtype='object')

# Seleccionando geohashes colidantes

In [18]:
geohash_escuelas = df_colegios.geohash.values
geohash_neighbors = []
geohash_reference = []
for reference, neighbours in map(lambda x: (x,gh.neighbors(x).values()), geohash_escuelas):
    for e in neighbours:
        geohash_neighbors.append(e)
        geohash_reference.append(reference)

In [19]:
len(geohash_neighbors)

103336

In [20]:
df_neighbors = pd.DataFrame({'geohash':geohash_neighbors,'geohash_colegio':geohash_reference})

In [21]:
df_neighbors.shape

(103336, 2)

In [22]:
df_neighbors.head(20)

    geohash geohash_colegio
0   6kwnb6O         6kwnb6k
1   6kwnb6P         6kwnb6k
2   6kwnb6l         6kwnb6k
3   6kwnb6n         6kwnb6k
4   6kwnb6m         6kwnb6k
5   6kwnb6j         6kwnb6k
6   6kwnb6h         6kwnb6k
7   6kwnb6L         6kwnb6k
8   6kwnbjb         6kwnbjx
9   6kwnbje         6kwnbjx
10  6kwnbj0         6kwnbjx
11  6kwnbj2         6kwnbjx
12  6kwnbjz         6kwnbjx
13  6kwnbjy         6kwnbjx
14  6kwnbjw         6kwnbjx
15  6kwnbja         6kwnbjx
16  6kwn9pn         6kwn9pt
17  6kwn9py         6kwn9pt
18  6kwn9p4         6kwn9pt
19  6kwn9p6         6kwn9pt

In [23]:
df_colegios_vecinos = df_neighbors.merge(df_colegios, how ='left', on = 'geohash', indicator = True)

In [24]:
df_colegios_vecinos.shape

(104092, 75)

In [25]:
df_colegios_vecinos.columns

Index(['geohash', 'geohash_colegio', 'row_number', 'AGNO', 'COD_ESCUELA_PAIS',
       'dgv_rbd', 'nom_rbd', 'mrun', 'rut_sostenedor', 'p_juridica',
       'COD_ADM1', 'nom_reg_rbd_a', 'cod_pro_rbd', 'COD_ADM3', 'NOM_ADM3',
       'cod_deprov_rbd', 'nom_deprov_rbd', 'cod_depe', 'cod_depe2',
       'rural_rbd', 'convenio_pie', 'ens_01', 'ens_02', 'ens_03', 'ens_04',
       'ens_05', 'ens_06', 'ens_07', 'ens_08', 'ens_09', 'ens_10', 'ens_11',
       'matricula', 'estado_estab', 'ori_religiosa', 'ori_otro_glosa',
       'pago_matricula', 'pago_mensual', 'Asist_nom_rbd', 'Asist_cod_com_rbd',
       'dias_asistidos', 'dias_trabajados', 'Asist_total', 'Asist_Palv',
       'Asist_Bas_NinJov', 'Asist_Bas_Adu', 'Asist_Espec', 'Asist_Med_NinJov',
       'Asist_Med_Adu', 'Asist_Tec_NinJov', 'Asist_Tec_Adu', 'Asist_terc_col',
       'Matr_nom_rbd', 'Matr_cod_depe', 'Matr_cod_depe2', 'Matr_rural_rbd',
       'Matr_cod_reg_rbd', 'Matr_cod_com_rbd', 'Matr_estado_estab',
       'Matr_Palv', 'Matr_Bas_NinJov', 'Matr_Bas_Adu', 'Matr_Med_NinJov',
       'Matr_Med_Adu', 'Matr_Tec_NinJov', 'Matr_Tec_Adu', 'Mat_total',
       'Matr_Espec', 'Mat_terc_col', 'laty', 'longx', 'geometry', 'cod_comuna',
       'Comuna', '_merge'],
      dtype='object')

In [26]:
df_colegios_vecinos = df_colegios_vecinos.rename(columns = {'_merge': 'merge_vecinos'})

In [27]:
df_colegios_vecinos.columns

Index(['geohash', 'geohash_colegio', 'row_number', 'AGNO', 'COD_ESCUELA_PAIS',
       'dgv_rbd', 'nom_rbd', 'mrun', 'rut_sostenedor', 'p_juridica',
       'COD_ADM1', 'nom_reg_rbd_a', 'cod_pro_rbd', 'COD_ADM3', 'NOM_ADM3',
       'cod_deprov_rbd', 'nom_deprov_rbd', 'cod_depe', 'cod_depe2',
       'rural_rbd', 'convenio_pie', 'ens_01', 'ens_02', 'ens_03', 'ens_04',
       'ens_05', 'ens_06', 'ens_07', 'ens_08', 'ens_09', 'ens_10', 'ens_11',
       'matricula', 'estado_estab', 'ori_religiosa', 'ori_otro_glosa',
       'pago_matricula', 'pago_mensual', 'Asist_nom_rbd', 'Asist_cod_com_rbd',
       'dias_asistidos', 'dias_trabajados', 'Asist_total', 'Asist_Palv',
       'Asist_Bas_NinJov', 'Asist_Bas_Adu', 'Asist_Espec', 'Asist_Med_NinJov',
       'Asist_Med_Adu', 'Asist_Tec_NinJov', 'Asist_Tec_Adu', 'Asist_terc_col',
       'Matr_nom_rbd', 'Matr_cod_depe', 'Matr_cod_depe2', 'Matr_rural_rbd',
       'Matr_cod_reg_rbd', 'Matr_cod_com_rbd', 'Matr_estado_estab',
       'Matr_Palv', 'Matr_Bas_NinJov', 'Matr_Bas_Adu', 'Matr_Med_NinJov',
       'Matr_Med_Adu', 'Matr_Tec_NinJov', 'Matr_Tec_Adu', 'Mat_total',
       'Matr_Espec', 'Mat_terc_col', 'laty', 'longx', 'geometry', 'cod_comuna',
       'Comuna', 'merge_vecinos'],
      dtype='object')

In [28]:
df_colegios_vecinos.head(20)

,geohash,geohash_colegio,row_number,AGNO,COD_ESCUELA_PAIS,dgv_rbd,nom_rbd,mrun,rut_sostenedor,p_juridica,...,Matr_Tec_Adu,Mat_total,Matr_Espec,Mat_terc_col,laty,longx,geometry,cod_comuna,Comuna,merge_vecinos
0,6kwnb6O,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,6kwnb6P,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,6kwnb6l,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,6kwnb6n,6kwnb6k,9389.0,2019.0,12549.0,0.0,C.T. C.Y LENGUAJE HISPANO AMERICANO,NaN,65143988.0,1.0,...,0.0,97.0,97.0,2.0,-18.489697,-70.292120,POINT (-70.29212 -18.489697),15101.0,Arica,both
4,6kwnb6m,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,6kwnb6j,6kwnb6k,12659.0,2019.0,20533.0,8.0,ESCUELA ESPECIAL DE LENGUAJE MIS PRIMEROS PASITOS,NaN,65144353.0,1.0,...,0.0,28.0,28.0,1.0,-18.489830,-70.293390,POINT (-70.29339 -18.48983),15101.0,Arica,both
6,6kwnb6j,6kwnb6k,16010.0,2019.0,40377.0,6.0,ESC ESP DE LENGUAJE GOTITAS DE ROCIO,NaN,65149087.0,1.0,...,0.0,69.0,69.0,1.0,-18.489786,-70.293290,POINT (-70.29329 -18.489786),15101.0,Arica,both
7,6kwnb6h,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,6kwnb6L,6kwnb6k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,6kwnbjb,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,6kwnbje,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,6kwnbj0,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,6kwnbj2,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,6kwnbjz,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,6kwnbjy,6kwnbjx,44.0,2019.0,52.0,3.0,LICEO DOMINGO SANTA MARIA,NaN,65145467.0,1.0,...,0.0,4034.0,49.0,3.0,-18.468622,-70.303375,POINT (-70.30337532 -18.46862249),15101.0,Arica,both
15,6kwnbjw,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,6kwnbja,6kwnbjx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,6kwn9pn,6kwn9pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,6kwn9py,6kwn9pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,6kwn9p4,6kwn9pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [29]:
path_codigos_stata = path_global + r"\Codes\Stata"
file_output_vecinos_dta = path_codigos_stata + r"\Geohashes_con_colegios_vecinos.dta"

df_colegios_vecinos.to_stata(file_output_vecinos_dta)

# Merges geoashes con colegios

Merge

In [30]:
df_geohashes_colegios = df_geohashes.merge(df_colegios , how = 'left', on = 'geohash', indicator = True)

In [31]:
df_geohashes_colegios = df_geohashes_colegios.rename(columns = {'_merge': 'merge_colegios'})

In [32]:
df_geohashes_colegios.shape

(19250550, 104)

In [33]:
df_geohashes_colegios.head(5)

,geohash,g_adm_1,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,Matr_Tec_Adu,Mat_total,Matr_Espec,Mat_terc_col,laty,longx,geometry,cod_comuna,Comuna,merge_colegios
0,66jt91k,5.0,5702.0,5,3,4,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,63knfd2,8.0,8107.0,3,16,15,11,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,637uz4p,8.0,8106.0,3,16,3,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,66jec5e,13.0,13303.0,5,6,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,66jcejx,13.0,13113.0,3,10,5,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [34]:
df_geohashes_colegios.columns

Index(['geohash', 'g_adm_1', 'g_adm_3', 'month', 'day', 'n_visitantes_geohash',
       'n_visitantes_adm3', 'n_visitantes_0', 'n_visitantes_1',
       'n_visitantes_2',
       ...
       'Matr_Tec_Adu', 'Mat_total', 'Matr_Espec', 'Mat_terc_col', 'laty',
       'longx', 'geometry', 'cod_comuna', 'Comuna', 'merge_colegios'],
      dtype='object', length=104)

Guardando datos

In [35]:
#df_geohashes_colegios.to_csv(file_output_geohashes_zip, compression = 'zip')

In [36]:
path_codigos_stata = path_global + r"\Codes\Stata"
file_output_con_visitas_dta = path_codigos_stata + r"\Geohashes_con_sin_colegios.dta"

df_geohashes_colegios.to_stata(file_output_con_visitas_dta)

#### Guardar establecimientos que tienen visitas

Zip comprimido

colegios_con_visitas.to_csv(file_output_con_visitas_zip, compression = 'zip')

CSV

colegios_con_visitas.to_csv(file_output_con_visitas_csv, sep = ',')

Stata - .dta

path_codigos_stata = path_global + r"\Codes\Stata"
file_output_con_visitas_dta = path_codigos_stata + r"\Chile_colegios_geohash_con_visitas_python.dta"

colegios_con_visitas.to_stata(file_output_con_visitas_dta)