# Importar librerias necesarias

In [1]:
conda install ipykernel

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Anaconda

  added / updated specs:
    - ipykernel


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.4                |           py38_0         2.9 MB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following packages will be UPDATED:

  conda                                        4.8.3-py38_0 --> 4.8.4-py38_0



Downloading and Extracting Packages

conda-4.8.4          | 2.9 MB    |            |   0%
conda-4.8.4          | 2.9 MB    |            |   1%
conda-4.8.4          | 2.9 MB    | 2          |   2%
conda-4.8.4          | 2.9 MB    | 4          |   4%
conda-4.8.4          | 2.9 MB    | 8          |   8%
conda-4.8.4          | 2.9 MB    | #8         |  19%
conda-4.8.4          | 2.9 MB    | ##3        |  23%
conda-4.8.4          | 2.9 MB    | ####5      |  45%
conda-4.8.4          | 2.9 MB    | #####3     |  53%
conda-4.8.4          | 2.9 MB    | #######6   |  76%
conda-4.8.4          | 2.9 MB    | ########3  |  84%
conda-4.8.4          | 2.9 MB    | #########4 |  94%
conda-4.8.4          | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
import pandas as pd
import os
import zipfile
import glob
import dask

# Paths

Ruta de carpetas

In [3]:
#path_personal = r"C:\Users\BS\Documents\Github"
path_personal = r"C:\Users\Admin\Documents\Github"

path_global = path_personal + r"\Geohashes-Colegios"

path_data = path_global + r"\Data"

path_data_geohashes = path_data + r"\Geohashes"

print(path_personal)
print(path_global)
print(path_data)
print(path_data_geohashes)

C:\Users\Admin\Documents\Github
C:\Users\Admin\Documents\Github\Geohashes-Colegios
C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data
C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Geohashes

Cambiando ruta

In [4]:
os.chdir(path_data_geohashes)

In [5]:
ruta_actual = os.path.abspath(os.curdir)
print(ruta_actual)

C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Geohashes

Lectura de archivos

In [6]:
files = os.listdir()
files

['Argentina.zip',
 'Bolivia.zip',
 'Brasil.zip',
 'Chile.zip',
 'Colombia.zip',
 'Dominicana.zip',
 'Ecuador.zip',
 'Guatemala.zip',
 'Honduras.zip',
 'Mexico.zip',
 'Nicaragua.zip',
 'Paraguay.zip',
 'Peru.zip',
 'Uruguay.zip',
 'Venezuela.zip']

# Paises peque√±os

In [7]:
nompaises = ['Bolivia','Chile','Colombia','Dominicana', 'Ecuador', 'Guatemala',
             'Honduras','Nicaragua','Paraguay','Peru','Uruguay','Venezuela']
len(nompaises)

12

In [8]:
df = pd.read_csv('Bolivia.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 5211417.0

,Unnamed: 0,geohash,g_adm_1,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,6sue0x5,BO07,BO0705,3,9,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,6th2q38,BO07,BO0703,5,11,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,6sfmq07,BO07,BO0704,3,5,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,6s3psjc,BO05,BO0512,3,22,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
4,4,6mp3zd7,BO02,BO0201,4,12,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,6mp6p8q,BO02,BO0201,5,29,1,0,1,1,...,0,0,0,0,0,0,1,1,0,0
6,6,6t3gepp,BO08,BO0801,4,22,2,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7,7,6sg4ekf,BO07,BO0701,3,2,2,0,0,0,...,1,0,0,0,1,0,0,0,0,0
8,8,6s1vmyj,BO06,BO0601,3,30,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,6su5tem,BO07,BO0705,3,8,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [9]:
del df

In [10]:
df = pd.read_csv('Ecuador.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 8844829.0

,Unnamed: 0,geohash,g_adm_4,month,day,n_visitantes_geohash,n_visitantes_adm4,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d2123wt,210150,6,10,1,0,0,0,0,...,1,0,1,1,1,1,0,0,0,0
1,1,6pxher1,92550,3,31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,6prhhkh,71251,3,16,3,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,6pxbt94,30153,4,2,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,6rbrmns,170252,6,3,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,5,6prz9g3,10150,6,2,6,0,1,1,0,...,1,2,3,0,0,0,0,1,1,0
6,6,6pxbmx1,30150,4,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,6r80d8v,11352,5,29,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,6px5n6f,90150,6,4,2,0,1,1,1,...,0,0,0,0,0,1,1,2,1,0
9,9,6pyd7ry,130850,3,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
del df

In [12]:
df = pd.read_csv('Chile.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 19166083.0

,Unnamed: 0,geohash,g_adm_1,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,66jt91k,5.0,5702.0,5,3,4,2,0,0,...,1,1,0,1,0,0,0,1,0,0
1,1,63knfd2,8.0,8107.0,3,16,15,11,1,0,...,3,4,1,1,2,2,0,1,1,0
2,2,637uz4p,8.0,8106.0,3,16,3,3,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,66jec5e,13.0,13303.0,5,6,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,66jcejx,13.0,13113.0,3,10,5,4,0,0,...,0,1,1,0,0,0,0,0,0,0
5,5,63kn8s1,8.0,8112.0,6,19,8,5,0,0,...,0,0,1,0,0,1,1,0,0,0
6,6,66j9rw0,13.0,13121.0,3,15,4,3,0,0,...,0,1,0,0,0,0,0,0,0,0
7,7,66j0dx9,5.0,5601.0,4,3,3,0,0,0,...,0,1,0,0,0,1,0,0,0,0
8,8,63hqrz2,9.0,9211.0,6,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9,9,66jbf5g,13.0,13201.0,6,13,4,2,1,0,...,1,0,0,0,0,1,0,0,0,0

In [13]:
del df

In [14]:
df = pd.read_csv('Dominicana.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 6040886.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d7mqmj3,42603,5,29,2,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
1,1,d7qhej5,22404,5,29,1,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
2,2,d7m8yqp,50201,5,29,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,d7t86rt,11804,5,29,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,d7qq62h,31401,5,29,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,5,d7q8yzv,92301,5,29,4,1,0,0,0,...,0,1,0,0,0,0,0,2,0,0
6,6,d7my71d,10901,5,29,2,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7,7,d7q7h06,92901,5,29,1,0,0,0,0,...,0,1,1,1,1,1,0,1,0,0
8,8,d7qr9mx,31402,5,29,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,9,d7mvdbu,21301,5,29,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
del df

In [16]:
df = pd.read_csv('Guatemala.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 5029337.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,9fwusg6,903.0,4,25,3,3,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,1,9fxee8u,108.0,4,25,5,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,9fwfdjc,1101.0,4,25,2,0,1,0,0,...,0,0,0,1,1,1,1,0,1,1
3,3,9fxe7fc,101.0,4,25,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,9fxej70,101.0,4,25,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,9fx6z0g,301.0,4,25,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,6,9fxe0bp,308.0,4,25,2,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
7,7,9fxde96,117.0,4,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,9fz8p0y,1601.0,4,25,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,9fxe7g8,101.0,4,25,3,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
del df

In [18]:
df = pd.read_csv('Honduras.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 3030114.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d4c2hc2,26.0,6,1,4,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,d46rw1g,189.0,6,1,4,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,d497qww,65.0,6,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,d4c2mqm,26.0,6,1,2,1,0,0,0,...,0,0,2,0,0,0,0,0,0,0
4,4,d4c2mpb,26.0,6,1,5,0,0,0,0,...,2,2,0,1,0,0,0,0,0,0
5,5,d4c2t0j,26.0,6,1,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6,6,d4c2hs4,26.0,6,1,7,0,1,2,2,...,1,5,0,1,0,0,0,0,1,0
7,7,d49e11k,77.0,6,1,5,0,0,0,0,...,1,0,2,2,1,0,0,0,1,1
8,8,d4c9464,24.0,6,1,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
9,9,d4c2msw,26.0,6,1,4,0,2,3,1,...,1,2,1,3,1,0,0,0,0,0

In [19]:
del df

In [20]:
df = pd.read_csv('Nicaragua.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 1993212.0

,Unnamed: 0,geohash,g_adm_1,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d46f75b,9.0,60.0,5,18,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,d44ggg1,8.0,57.0,4,24,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,d44svd9,13.0,87.0,5,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,d44sv49,13.0,87.0,3,17,42,0,0,0,...,6,3,7,3,7,1,1,0,0,0
4,4,d44svk4,13.0,87.0,3,6,232,39,1,1,...,33,33,34,33,44,27,15,9,8,2
5,5,d46f7p9,9.0,60.0,3,15,8,2,1,1,...,2,1,1,1,1,1,1,1,1,1
6,6,d44th1m,13.0,87.0,3,19,12,1,1,1,...,3,2,0,1,1,2,1,1,0,1
7,7,d44svxr,13.0,87.0,3,21,9,1,0,0,...,0,1,3,0,0,1,0,0,0,0
8,8,d44su0m,13.0,87.0,5,30,1,0,0,0,...,0,0,0,1,1,1,0,0,0,0
9,9,d462d30,11.0,71.0,5,16,2,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [21]:
del df

In [22]:
df = pd.read_csv('Paraguay.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 3777325.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,6ex0mm2,1091,5,25,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,6ex01jj,541,5,25,3,1,0,0,0,...,0,0,1,2,2,0,0,0,0,0
2,2,6sj2wv0,644,5,25,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,6g2vgcf,335,5,25,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,4,6gbrevw,440,5,25,6,0,0,0,0,...,1,1,1,2,1,0,0,0,0,0
5,5,6g3nust,321,5,25,23,8,0,0,0,...,1,2,6,2,0,1,0,0,0,0
6,6,6ex01np,541,5,25,6,2,0,0,0,...,0,1,2,2,0,0,0,0,0,0
7,7,6erpvsp,1082,5,25,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,8,6ernz25,1086,5,25,8,6,0,0,0,...,1,2,1,1,1,1,0,0,0,1
9,9,6g3n42t,327,5,25,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [23]:
del df

In [24]:
df = pd.read_csv('Peru.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 13536433.0

,Unnamed: 0,geohash,g_adm_1,g_adm_2,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,6mc7d2b,15,1501,150103,4,18,2,0,0,...,0,2,0,0,0,1,0,0,0,0
1,1,6mf7ym9,12,1202,120213,3,8,1,1,0,...,0,0,0,0,0,0,0,0,1,0
2,2,6myb2gp,17,1701,170101,5,9,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,6mj420y,4,401,40124,5,11,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,6q3gnyd,10,1006,100601,4,15,1,0,0,...,1,1,0,0,1,0,1,1,0,0
5,5,6mc7ut8,15,1501,150118,3,12,1,0,0,...,0,0,0,1,0,0,0,0,0,0
6,6,6q1z2vn,10,1001,100102,6,16,1,1,0,...,0,0,0,0,0,0,0,0,0,0
7,7,6mchwcw,15,1501,150106,3,30,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,8,6mc727p,15,1501,150114,5,21,34,31,1,...,3,2,4,4,0,0,0,0,0,0
9,9,6pqe5bc,24,2402,240201,6,6,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
del df

In [26]:
df = pd.read_csv('Uruguay.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 8905598.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,6dpn1wt,NaN,5,6,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,6cb18yw,UY10354,5,6,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2,69zh650,UY04531,5,6,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,6cczjc5,NaN,5,6,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,6cctqmw,NaN,5,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,6cb407r,NaN,5,6,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
6,6,6cb60sy,UY02348,5,6,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,7,6cc7gfd,NaN,5,6,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,8,6cb4qnj,NaN,5,6,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,9,6f1e543,UY19104,5,6,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
del df

In [28]:
df = pd.read_csv('Venezuela.zip')
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

Numeros de registros 6837844.0

,Unnamed: 0,geohash,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
0,0,d9b7tw3,107.0,5,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,d3ksh6c,276.0,5,13,4,1,0,0,0,...,1,2,0,0,0,0,0,0,0,0
2,2,d9b7rq3,182.0,5,13,2,0,1,0,1,...,0,2,1,0,0,0,0,0,0,0
3,3,d9be8tn,198.0,5,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,d96y0fv,72.0,5,13,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,d3y9yff,150.0,5,13,2,0,1,1,1,...,0,0,0,0,1,1,1,1,2,2
6,6,d9b7mpu,107.0,5,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,d3zmm59,127.0,5,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,d9f400x,22.0,5,13,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,d9b7h1w,185.0,5,13,6,6,0,0,0,...,1,1,0,0,1,0,0,0,0,0

In [32]:
del df

# Paises grandes

In [35]:
for zip_file in glob.glob('Colombia.zip'):
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), header = None, sep = ',') for f in zf.namelist()]
    df = pd.concat(dfs, ignore_index = True)
    
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Numeros de registros 48611078.0

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,NaN,geohash,g_adm_3,month,day,n_visitantes_geohash,n_visitantes_adm3,n_visitantes_0,n_visitantes_1,n_visitantes_2,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
1,0.0,d3hj94x,NaN,4,13,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1.0,d3kkwcf,5487431221,4,13,5,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2.0,d3ftse2,NaN,4,13,5,0,0,0,0,...,1,1,2,0,0,0,0,0,0,0
4,3.0,d2g61zp,1100134828,4,13,9,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
5,4.0,d2g17ke,NaN,4,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,5.0,d2e4kn0,503703825,4,13,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7,6.0,d23mqgx,198073397,4,13,4,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
8,7.0,d3f742r,NaN,4,13,3,0,0,0,0,...,2,2,1,1,1,1,1,1,1,1
9,8.0,d2g6c3c,1100134828,4,13,12,1,3,2,2,...,2,4,3,4,2,3,5,2,3,3

In [36]:
del zf, dfs, df, _, l