# Importar librerias necesarias

In [1]:
conda install ipykernel

Note: you may need to restart the kernel to use updated packages.

Traceback (most recent call last):
  File "C:\Anaconda\Scripts\conda-script.py", line 11, in <module>
    from conda.cli import main
ImportError: No module named conda.cli

In [2]:
import pandas as pd
import os
import zipfile
import glob
import dask

# Paths

Ruta de carpetas

In [3]:
#path_personal = r"C:\Users\BS\Documents\Github"
path_personal = r"C:\Users\Admin\Documents\Github"

path_global = path_personal + r"\Geohashes-Colegios"

path_data = path_global + r"\Data"

path_data_geohashes = path_data + r"\Geohashes"

print(path_personal)
print(path_global)
print(path_data)
print(path_data_geohashes)

C:\Users\Admin\Documents\Github
C:\Users\Admin\Documents\Github\Geohashes-Colegios
C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data
C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Geohashes

Cambiando ruta

In [4]:
os.chdir(path_data_geohashes)

In [5]:
ruta_actual = os.path.abspath(os.curdir)
print(ruta_actual)

C:\Users\Admin\Documents\Github\Geohashes-Colegios\Data\Geohashes

Lectura de archivos

In [6]:
files = os.listdir()
files

['Argentina.zip',
 'Bolivia.zip',
 'Brasil.zip',
 'Chile.zip',
 'Colombia.zip',
 'Dominicana.zip',
 'Ecuador.zip',
 'Guatemala.zip',
 'Honduras.zip',
 'Mexico.zip',
 'Nicaragua.zip',
 'Paraguay.zip',
 'Peru.zip',
 'Uruguay.zip',
 'Venezuela.zip']

# Paises grandes

In [ ]:
nompaises = ['Colombia','Argentina','Mexico','Brasil']
len(nompaises)

In [ ]:
for zip_file in glob.glob('Colombia.zip'):
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), header = None, sep = ',') for f in zf.namelist()]
    df = pd.concat(dfs, ignore_index = True)
    
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

In [ ]:
del zf, dfs, df, _, l

In [7]:
for zip_file in glob.glob('Argentina.zip'):
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), header = None, sep = ',') for f in zf.namelist()]
    df = pd.concat(dfs, ignore_index = True)
    
_, l = dask.compute(df, df.size)
print("Numeros de registros", l/ len(df.columns))
df.head(10)

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Numeros de registros -48560700.0

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,geohash,g_adm_1,g_adm_2,month,day,n_visitantes_geohash,n_visitantes_adm2,n_visitantes_0,n_visitantes_1,...,n_visitantes_14,n_visitantes_15,n_visitantes_16,n_visitantes_17,n_visitantes_18,n_visitantes_19,n_visitantes_20,n_visitantes_21,n_visitantes_22,n_visitantes_23
1,0.0,69y553s,06,06364,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,66phfrb,NaN,NaN,4,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,6djx8n9,NaN,NaN,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,6d6m5uv,14,14014,4,5,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,4.0,69yk62m,NaN,NaN,4,5,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,5.0,69y7h3m,NaN,NaN,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,6.0,69y54hr,NaN,NaN,4,5,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,7.0,6dk9u15,82,82105,4,5,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
9,8.0,696r3pq,NaN,NaN,4,5,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
del zf, dfs, df, _, l